<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chào mừng đến Dra-Shop</title>
    
    <!-- Font Roboto -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <!-- FontAwesome -->
    <link rel="stylesheet" href="../Fontawesome-5.15.3/css/all.css" />
    <!-- stylesheet -->
    <link rel="stylesheet" href="../style/style.css" />
    <link rel="stylesheet" href="../style/responsive.css">
    <!-- JQuery -->
    <script src="../js/jquery-3.6.0.min.js"></script>
  </head>
  <body id="index">
    <header>
      <nav class="header-top">
        <div class="ht-right">
          <div class="ht-help">
            <i class="fal fa-question-circle"></i>
            Giúp đỡ
          </div>
          <div class="ht-numberPhone">
            <i class="fal fa-mobile"></i>
            +849234728323
          </div>
          <div class="dark-mode">
            <i class="fad fa-sun darkMode active"></i>
            <i class="fad fa-moon darkMode"></i>
          </div>
        </div>
        <div class="ht-left">
          <a class="ht-item" href="#" title="Store">
            <i class="fal fa-map-marker-alt"></i>
          </a>
          <a class="ht-item" href="#" title="Wishlist">
            <i class="fal fa-heart"></i>
            <span class="ds-wishlist-with-count">0</span>
          </a>
          <div class="user-wrapper">
            <a class="ht-item" href="#" title="Account">
              <i class="fal fa-user"></i>
            </a>
            <div class="user-dropdown">
              <div class="user-signin">
                Đăng nhập
              </div>
              <hr>
              <div class="user-signup">
                Đăng ký
              </div>
            </div>
          </div>
          <div class="cart-home-wrapper">
            <a class="ht-item wrap-cart" href="#" title="Carts" onclick="window.open('./Cart.html', '_parent')">
              <i class="fal fa-shopping-bag"></i>
              <span class="ds-bag-with-count">0</span>
            </a>
            <div class="cart-wrapper">
              <h1 style="text-transform: uppercase; padding: 1rem;">Giỏ hàng của bạn</h1>
              <div class="text-no-product">
                Chưa có sản phẩm
              </div>
              <div class="tiny-cart-product-wrapper w-100">
                
              </div>
              <a class="w-100 link-cart" href="./Cart.html">GIỎ HÀNG</a>
            </div>
          </div>
        </div>
      </nav>
      <div class="header-bottom">
        <div class="ds-logo-wrapper">
          <img src="../images/DS-Logo-2.jpg" alt="" />
        </div>
        <button class="btn btn-menu-toggle">
          <i class="far fa-bars"></i>
        </button>
        <div class="hb-menu-wrapper" id="toggleMenu">
          <div class="hb-menu">
            <ul class="nav-menu">
              <li class="nav-item nav-new">Mới</li>
              <li class="nav-item nav-men">Nam</li>
              <li class="nav-item nav-women">Nữ</li>
              <li class="nav-item nav-about">Về chúng tôi</li>
              <li class="nav-item nav-news">Tạp chí</li>
            </ul>
          </div>
          <div class="wrap-search">
            <label class="lbl-search" for="">
              <i class="far fa-search"></i>
            </label>
            <input
              id="search"
              class="inp inp-text"
              type="text"
              placeholder="Tìm kiếm sản phẩm..."
            />
            <span class="bar-search"></span>
          </div>
        </div>
        <div class="search-suggest" style="height: auto; width: 100%">
          <div class="group-suggest-left">
            <div class="group-suggest">
              <h3>NỮ</h3>
              <ul class="suggest-list">
                <li class="suggest-item">Váy, đầm</li>
                <li class="suggest-item">Túi xách</li>
                <li class="suggest-item">Trang sức</li>
                <li class="suggest-item">Giày</li>
              </ul>
            </div>
            <div class="group-suggest">
              <h3>NAM</h3>
              <ul class="suggest-list">
                <li class="suggest-item">Quần, áo</li>
                <li class="suggest-item">Đồng hồ</li>
                <li class="suggest-item">Túi</li>
                <li class="suggest-item">Giày</li>
              </ul>
            </div>
          </div>
          <div class="group-suggest-right">
            <h3>SẢN PHẨM</h3>
            <div class="product-list-suggest">
              <div class="product-item-suggest" style="display: flex;">
                <div class="wrap-img-suggest">
                  <img src="../images/adidas/Chan_Vay_DJen.jpg" alt="">
                </div>
                <div class="name-product-suggest">
                  Chân váy
                </div>
              </div>
              <div class="product-item-suggest" style="display: flex;">
                <div class="wrap-img-suggest">
                  <img src="../images/lv/louis-vuitton-backpack-trio-monogram-eclipse-canvas-bags.webp" at="">
  
                </div>
                <div class="name-product-suggest">
                  Balo Trio
                </div>
              </div>
              <div class="product-item-suggest" style="display: flex;">
                <div class="wrap-img-suggest">
                  <img src="../images/supreme/Áo_cans.png" alt="">
                </div>
                <div class="name-product-suggest">
                  Áo Cans
                </div>
              </div>
              <div class="product-item-suggest" style="display: flex;">
                <div class="wrap-img-suggest">
                  <img src="../images/adidas/Quan_Bo_Techfit.jpg" alt="">
                </div>
                <div class="name-product-suggest">
                  Quần bó Techfit
                </div>
              </div>
            </div>
          </div>
          <button class="suggest-exit">
            <i class="fal fa-times"></i>
          </button>
        </div>
        <div id="nav-new" class="nav-suggest" style="height: auto; width: 100%;">
          <div class="group-suggest-left">
            <div class="group-suggest">
              <ul class="suggest-list">
                <li class="suggest-item">Cho Nữ</li>
                <li class="suggest-item">Cho Nam</li>
              </ul>
            </div>
          </div>
          <div class="group-suggest-right">
            <div class="group-suggest">
              <ul class="suggest-list">
                <li class="suggest-item">Bộ Sưu Tập 2021</li>
                <li class="suggest-item">Bộ Sưu Tập Mùa Hè</li>
                <li class="suggest-item">Bộ Sưu Tập Xuân-Hè</li>
                <li class="suggest-item">Bộ Sưu Tập Adidas</li>
              </ul>
            </div>
            <div class="product-list-suggest">
              <div class="product-item-suggest active">
                  <img src="../images/adidas/Chan_Vay_DJen.jpg" alt="">
              </div>
              <div class="product-item-suggest">
                  <img src="../images/lv/louis-vuitton-backpack-trio-monogram-eclipse-canvas-bags.webp" at=""> 
              </div>
              <div class="product-item-suggest">
                  <img src="../images/supreme/Áo_cans.png" alt="">
              </div>
              <div class="product-item-suggest">
                  <img src="../images/adidas/Quan_Bo_Techfit.jpg" alt="">
              </div>
            </div>
          </div>
          <button class="suggest-exit">
            <i class="fal fa-times"></i>
          </button>
        </div>
        <div id="nav-men" class="nav-suggest" style="height: auto; width: 100%;">
          <div class="group-suggest-left">
            <div class="group-suggest">
              <ul class="suggest-list">
                <li class="suggest-item">Cho Nữ</li>
                <li class="suggest-item">Cho Nam</li>
              </ul>
            </div>
          </div>
          <div class="group-suggest-right">
            <div class="group-suggest">
              <ul class="suggest-list">
                <li class="suggest-item">Bộ Sưu Tập 2021</li>
                <li class="suggest-item">Bộ Sưu Tập Mùa Hè</li>
                <li class="suggest-item">Bộ Sưu Tập Xuân-Hè</li>
                <li class="suggest-item">Bộ Sưu Tập Adidas</li>
              </ul>
            </div>
            <div class="product-list-suggest">
              <div class="product-item-suggest active">
                  <img src="../images/adidas/Chan_Vay_DJen.jpg" alt="">
              </div>
              <div class="product-item-suggest">
                  <img src="../images/lv/louis-vuitton-backpack-trio-monogram-eclipse-canvas-bags.webp" at=""> 
              </div>
              <div class="product-item-suggest">
                  <img src="../images/supreme/Áo_cans.png" alt="">
              </div>
              <div class="product-item-suggest">
                  <img src="../images/adidas/Quan_Bo_Techfit.jpg" alt="">
              </div>
            </div>
          </div>
          <button class="suggest-exit">
            <i class="fal fa-times"></i>
          </button>
        </div>
        <div id="nav-women" class="nav-suggest" style="height: auto; width: 100%;">
          <div class="group-suggest-left">
            <div class="group-suggest">
              <ul class="suggest-list">
                <li class="suggest-item">Cho Nữ</li>
                <li class="suggest-item">Cho Nam</li>
              </ul>
            </div>
          </div>
          <div class="group-suggest-right">
            <div class="group-suggest">
              <ul class="suggest-list">
                <li class="suggest-item">Bộ Sưu Tập 2021</li>
                <li class="suggest-item">Bộ Sưu Tập Mùa Hè</li>
                <li class="suggest-item">Bộ Sưu Tập Xuân-Hè</li>
                <li class="suggest-item">Bộ Sưu Tập Adidas</li>
              </ul>
            </div>
            <div class="product-list-suggest">
              <div class="product-item-suggest active">
                  <img src="../images/adidas/Chan_Vay_DJen.jpg" alt="">
              </div>
              <div class="product-item-suggest">
                  <img src="../images/lv/louis-vuitton-backpack-trio-monogram-eclipse-canvas-bags.webp" at=""> 
              </div>
              <div class="product-item-suggest">
                  <img src="../images/supreme/Áo_cans.png" alt="">
              </div>
              <div class="product-item-suggest">
                  <img src="../images/adidas/Quan_Bo_Techfit.jpg" alt="">
              </div>
            </div>
          </div>
          <button class="suggest-exit">
            <i class="fal fa-times"></i>
          </button>
        </div>
      </div>
    </header>
    <div class="hidden slideshow">
      <div class="slide-auto slides-wrapper">
        <div class="slide active">
          <img src="../images/slide1.jpg" alt="slide1" />
          <div class="wrap-caption">
            <div class="caption">
                <h4>PHÁI ĐẸP</h4>
                <p>Giảm ngay 10% khi mua sắm trước ngày 30/5</p>
                <button class="btn btn-light">Mua ngay <i class="fal fa-long-arrow-right" style="line-height: 1.25;"></i></button>
            </div>
          </div>
        </div>
        <div class="slide">
          <img src="../images/slide2.jpg" alt="slide2" />
          <div class="wrap-caption">
            <div class="caption">
                <h4>BỘ SƯU TẬP SNEAKER</h4>
                <p>Giảm ngay 10% khi mua sắm trước ngày 30/5</p>
                <button class="btn">Mua ngay <i class="fal fa-long-arrow-right" style="line-height: 1.25;"></i></button>
            </div>
          </div>
        </div>
        <div class="slide">
          <img src="../images/slide3.jpg" alt="slide3" />
          <div class="wrap-caption">
            <div class="caption">
                <h4>BỘ SƯU TẬP SNEAKER</h4>
                <p>Giảm ngay 10% khi mua sắm trước ngày 30/5</p>
                <button class="btn">Mua ngay <i class="fal fa-long-arrow-right" style="line-height: 1.25;"></i></button>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="btn-slide-wrapper"> -->
      <button class="btn btn-slide btn-slide-prev">
        <i class="far fa-chevron-left"></i>
      </button>
      <button class="btn btn-slide btn-slide-next">
        <i class="far fa-chevron-right"></i>
      </button>
      <!-- </div> -->
    </div>
    <div class="hidden main">
        <div class="popular">
            <h4 class="title">PHỔ BIẾN</h4>
            <div class="popular-menu">
                <button name="lv">Louis Vuitton</button>
                <button name="adidas">Adidas</button>
                <button name="supreme">Supreme</button>
                <button name="gucci">Gucci</button>
                <button name="puma">Puma</button>
            </div>
            <div class="popular-content">
                <div class="popular-content-left">
                    <div style="overflow: hidden; height: 100%;">
                        <img src="../images/gifs-gucci.webp" alt="">
                    </div>
                    <h3>Gucci</h3>
                    <p>Hãng thời trang số 1 thế giới</p>
                    <button class="btn btn-light" style="border-color: var(--primary-text-color);">Xem ngay <i class="fal fa-long-arrow-right" style="line-height: 1.25;"></i></button>
                </div>
                <div class="popular-content-right">
                    <div style="overflow: hidden; height: 100%;">
                        <img src="../images/collection-men-lv-2021.jpg" alt="">
                    </div>
                    <h3>Bộ sưu tập Louis Vuitton</h3>
                    <p>Bộ sưu tập mùa hè 2021 của Louis Vuitton</p>
                    <button class="btn btn-light" style="border-color: var(--primary-text-color);">Xem ngay <i class="fal fa-long-arrow-right" style="line-height: 1.25;"></i></button>
                </div>
            </div>
        </div>
        <div class="hot" style="position: relative;">
          <h4 class="title">SẢN PHẨM HOT</h4>
          <div class="hot-content">
            <div class="content-wrapper col-exm-12 col-sm-6 col-md-4 col-lg-3" data-gender="men" data-color="multicolor" data-brand="supreme">
              <picture>
                <img src="../images/supreme/Áo_cans.png" alt="">
              </picture>
              <h5>ÁO CANS</h5>
              <p class="price">4.400.000 VND</p>
              <p>Nâng cao giá trị bản thân</p>
              <div class="btn-buy-wrapper">
                <button class="btn btn-light btn-border-dark btn-view">Xem ngay </button>
                
              </div>
              <i class="fal fa-heart heart-wishlist"></i>
            </div>
            <div class="content-wrapper col-exm-12 col-sm-6 col-md-4 col-lg-3" data-gender="men" data-color="black" data-brand="puma">
              <picture>
                <img src="../images/puma/Hoops-Men's-Tee.webp" alt="">
              </picture>
              <h5>HOOPS MEN'S TEE</h5>
              <p class="price">6.300.000 VND</p>
              <p>Nâng cao giá trị bản thân</p>
              <div class="btn-buy-wrapper">
                <button class="btn btn-light btn-border-dark btn-view">Xem ngay </button>
                
              </div>
              <i class="fal fa-heart heart-wishlist"></i>
            </div>
            <div class="content-wrapper col-exm-12 col-sm-6 col-md-4 col-lg-3" data-gender="men" data-color="blue" data-brand="puma">
              <picture>
                <img src="../images/puma/Decor8-Men's-Short-Sleeve-Hoodie.webp" alt="">
              </picture>
              <h5>DECOR MEN'S SHORT SLEEVE HOODIE</h5>
              <p class="price">5.700.000 VND</p>
              <p>Nâng cao giá trị bản thân</p>
              <div class="btn-buy-wrapper">
                <button class="btn btn-light btn-border-dark btn-view">Xem ngay </button>
                
              </div>
              <i class="fal fa-heart heart-wishlist"></i>
            </div>
            <div class="content-wrapper col-exm-12 col-sm-6 col-md-4 col-lg-3" data-gender="men" data-color="black" data-brand="adidas">
              <picture>
                <img src="../images/adidas/Quan_Short_3_Soc_Future_Icons_DJen.jpg" alt="">
              </picture>
              <h5>QUẦN SHORT 3 SỌC FUTURE ICONS</h5>
              <p class="price">1.000.000 VND</p>
              <p>Nâng cao giá trị bản thân</p>
              <div class="btn-buy-wrapper">
                <button class="btn btn-light btn-border-dark btn-view">Xem ngay </button>
                
              </div>
              <i class="fal fa-heart heart-wishlist"></i>
            </div>
            <div class="content-wrapper col-exm-12 col-sm-6 col-md-4 col-lg-3" data-gender="men" data-color="multicolor" data-brand="lv">
              <picture>
                <img src="../images/lv/louis-vuitton-salt-print-denim-pants.webp" alt="">
              </picture>
              <h5>QUẦN LV SALT PRINT DENIM</h5>
              <p class="price">21.000.000 VND</p>
              <p>Nâng cao giá trị bản thân</p>
              <div class="btn-buy-wrapper">
                <button class="btn btn-light btn-border-dark btn-view">Xem ngay </button>
                
              </div>
              <i class="fal fa-heart heart-wishlist"></i>
            </div>
            <div class="content-wrapper col-exm-12 col-sm-6 col-md-4 col-lg-3" data-gender="men" data-color="multicolor" data-brand="gucci">
              <picture>
                <img src="../images/gucci/Light-Paisley-fan-print-tunic-shirt-MEN.jpg" alt="">
              </picture>
              <h5>LIGHT PAISLEY FAN PRINT TUNIC SHIRT</h5>
              <p class="price">13.000.000 VND</p>
              <p>Nâng cao giá trị bản thân</p>
              <div class="btn-buy-wrapper">
                <button class="btn btn-light btn-border-dark btn-view">Xem ngay </button>
                
              </div>
              <i class="fal fa-heart heart-wishlist"></i>
            </div>
            <div class="content-wrapper col-exm-12 col-sm-6 col-md-4 col-lg-3" data-gender="women" data-color="multicolor" data-brand="gucci">
              <picture>
                <img src="../images/gucci/Light-Print-silk-dress-with-scarf.jpg" alt="">
              </picture>
              <h5>LIGHT PRINT SILK DRESS WITH SCARF</h5>
              <p class="price">4.000.000 VND</p>
              <p>Nâng cao giá trị bản thân</p>
              <div class="btn-buy-wrapper">
                <button class="btn btn-light btn-border-dark btn-view">Xem ngay </button>
                
              </div>
              <i class="fal fa-heart heart-wishlist"></i>
            </div>
          </div>
          <button class="btn btn-slide btn-hot-prev">
            <i class="far fa-chevron-left"></i>
          </button>
          <button class="btn btn-slide btn-hot-next">
            <i class="far fa-chevron-right"></i>
          </button>
        </div>
        <div class="carousel-gender">
          <div class="carousel-menu">
            <div class="carousel-menu-women active">NỮ</div>
            <div class="carousel-menu-men">NAM</div>
          </div>
          <div class="products-women-wrapper">
            <div class="carousel-women carousel-wrapper active">
              <div class="content-wrapper col-exm-12 col-sm-6 col-md-4 col-lg-3" data-gender="women" data-color="multicolor" data-brand="gucci">
                <picture>
                  <img src="../images/gucci/Light-Print-silk-dress-with-scarf.jpg" alt="">
                </picture>
                <h5>LIGHT PRINT SILK DRESS WITH SCARF</h5>
                <p class="price">4.000.000 VND</p>
                <i class="fal fa-heart heart-wishlist"></i>
                <div class="btn-buy-wrapper">
                  <button class="btn btn-light btn-border-dark btn-view">Xem ngay </button>
                  
                </div>
              </div>
              <div class="content-wrapper col-exm-12 col-sm-6 col-md-4 col-lg-3" data-gender="women" data-color="black" data-brand="adidas">
                <picture>
                  <img src="../images/adidas/Quan_Short_Chay_Bo_Marathon.jpg" alt="">
                </picture>
                <h5>QUẦN SHORT CHẠY BỘ MARATHON</h5>
                <p class="price">700.000 VND</p>
                <i class="fal fa-heart heart-wishlist"></i>
                <div class="btn-buy-wrapper">
                  <button class="btn btn-light btn-border-dark btn-view">Xem ngay </button>
                  
                </div>
              </div>
              <div class="content-wrapper col-exm-12 col-sm-6 col-md-4 col-lg-3" data-gender="women" data-color="black" data-brand="adidas">
                <picture>
                  <img src="../images/adidas/Chan_Vay_DJen.jpg" alt="">
                </picture>
                <h5>CHÂN VÁY DJEN</h5>
                <p class="price">1.400.000 VND</p>
                <i class="fal fa-heart heart-wishlist"></i>
                <div class="btn-buy-wrapper">
                  <button class="btn btn-light btn-border-dark btn-view">Xem ngay </button>
                  
                </div>
              </div>
              <div class="content-wrapper col-exm-12 col-sm-6 col-md-4 col-lg-3" data-gender="women" data-color="multicolor" data-brand="gucci">
                <picture>
                  <img src="../images/gucci/Light-Floral-print-linen-silk-kaftan.jpg" alt="">
                </picture>
                <h5>LIGHT FLORAL PRINT LINEN SILK KAFTAN</h5>
                <p class="price">5.800.000 VND</p>
                <i class="fal fa-heart heart-wishlist"></i>
                <div class="btn-buy-wrapper">
                  <button class="btn btn-light btn-border-dark btn-view">Xem ngay </button>
                  
                </div>
              </div>
              <div class="content-wrapper col-exm-12 col-sm-6 col-md-4 col-lg-3" data-gender="women" data-color="black" data-brand="adidas">
                <picture>
                  <img src="../images/adidas/Ao_hoodie_3_Soc_Wording_Full-Zip_DJen.jpg" alt="">
                </picture>
                <h5>ÁO HOODIE 3 SỌC WORDING FULL-ZIP</h5>
                <p class="price">1.500.000 VND</p>
                <i class="fal fa-heart heart-wishlist"></i>
                <div class="btn-buy-wrapper">
                  <button class="btn btn-light btn-border-dark btn-view">Xem ngay </button>
                  
                </div>
              </div>
              <div class="content-wrapper col-exm-12 col-sm-6 col-md-4 col-lg-3" data-gender="women" data-color="black" data-brand="adidas">
                <picture>
                  <img src="../images/adidas/Quan_Bo_Techfit.jpg" alt="">
                </picture>
                <h5>QUẦN BÓ TECHFIT</h5>
                <p class="price">2.000.000 VND</p>
                <i class="fal fa-heart heart-wishlist"></i>
                <div class="btn-buy-wrapper">
                  <button class="btn btn-light btn-border-dark btn-view">Xem ngay </button>
                  
                </div>
              </div>
              <div class="content-wrapper col-exm-12 col-sm-6 col-md-4 col-lg-3" data-gender="women" data-color="orange" data-brand="adidas">
                <picture>
                  <img src="../images/adidas/Ao_nguc_Badge_of_Sport.jpg" alt="">
                </picture>
                <h5>ÁO NGỰC BADGE OF SPORT DON'T REST</h5>
                <p class="price">800.000 VND</p>
                <i class="fal fa-heart heart-wishlist"></i>
                <div class="btn-buy-wrapper">
                  <button class="btn btn-light btn-border-dark btn-view">Xem ngay </button>
                  
                </div>
              </div>
              <div class="content-wrapper col-exm-12 col-sm-6 col-md-4 col-lg-3" data-gender="women" data-color="gray" data-brand="adidas">
                <picture>
                  <img src="../images/adidas/Quan_gia_vay_Xam.jpg" alt="">
                </picture>
                <h5>QUẦN GIẢ VÁY</h5>
                <p class="price">2.300.000 VND</p>
                <i class="fal fa-heart heart-wishlist"></i>
                <div class="btn-buy-wrapper">
                  <button class="btn btn-light btn-border-dark btn-view">Xem ngay </button>
                  
                </div>
              </div>
            </div>
            <div class="btn-buy-wrapper" style="justify-content: center">
              <button class="btn btn-light btn-border-dark btn-more">Xem thêm</button>
            </div>
          </div>
          <div class="products-men-wrapper">
            <div class="carousel-men carousel-wrapper">
              <div class="content-wrapper col-exm-12 col-sm-6 col-md-4 col-lg-3" data-gender="men" data-color="multicolor" data-brand="lv">
                <picture>
                  <img src="../images/lv/louis-vuitton-short-sleeved-salt-print-denim-shirt-ready-to-wear.webp" alt="">
                </picture>
                <h5>ÁO LV SALT PRINT DENIM</h5>
                <p class="price">35.000.000 VND</p>
                <i class="fal fa-heart heart-wishlist"></i>
                <div class="btn-buy-wrapper">
                  <button class="btn btn-light btn-border-dark btn-view">Xem ngay </button>
                  
                </div>
              </div>
              <div class="content-wrapper col-exm-12 col-sm-6 col-md-4 col-lg-3" data-gender="men" data-color="multicolor" data-brand="lv">
                <picture>
                  <img src="../images/lv/louis-vuitton-salt-print-denim-pants.webp" alt="">
                </picture>
                <h5>QUẦN LV SALT PRINT DENIM</h5>
                <p class="price">21.000.000 VND</p>
                <i class="fal fa-heart heart-wishlist"></i>
                <div class="btn-buy-wrapper">
                  <button class="btn btn-light btn-border-dark btn-view">Xem ngay </button>
                  
                </div>
              </div>
              <div class="content-wrapper col-exm-12 col-sm-6 col-md-4 col-lg-3" data-gender="men" data-color="multicolor" data-brand="gucci">
                <picture>
                  <img src="../images/gucci/Light-Paisley-fan-print-tunic-shirt-MEN.jpg" alt="">
                </picture>
                <h5>LIGHT PAISLEY FAN PRINT TUNIC SHIRT</h5>
                <p class="price">15.000.000 VND</p>
                <i class="fal fa-heart heart-wishlist"></i>
                <div class="btn-buy-wrapper">
                  <button class="btn btn-light btn-border-dark btn-view">Xem ngay </button>
                  
                </div>
              </div>
              <div class="content-wrapper col-exm-12 col-sm-6 col-md-4 col-lg-3" data-gender="men" data-color="multicolor" data-brand="supreme">
                <picture>
                  <img src="../images/supreme/Áo_cans.png" alt="">
                </picture>
                <h5>ÁO CANS</h5>
                <p class="price">4.400.000 VND</p>
                <i class="fal fa-heart heart-wishlist"></i>
                <div class="btn-buy-wrapper">
                  <button class="btn btn-light btn-border-dark btn-view">Xem ngay </button>
                  
                </div>
              </div>
              <div class="content-wrapper col-exm-12 col-sm-6 col-md-4 col-lg-3" data-gender="men" data-color="purple" data-brand="supreme">
                <picture>
                  <img src="../images/supreme/Tagless-Tees-Men.jpg" alt="">
                </picture>
                <h5>TAGLESS TEES</h5>
                <p class="price">650.000 VND</p>
                <i class="fal fa-heart heart-wishlist"></i>
                <div class="btn-buy-wrapper">
                  <button class="btn btn-light btn-border-dark btn-view">Xem ngay </button>
                  
                </div>
              </div>
              <div class="content-wrapper col-exm-12 col-sm-6 col-md-4 col-lg-3" data-gender="men" data-color="gray" data-brand="adidas">
                <picture>
                  <img src="../images/adidas/TRACK_TOP.jpg" alt="">
                </picture>
                <h5>ÁO THỂ THAO TRACK TOP</h5>
                <p class="price">2.300.000 VND</p>
                <i class="fal fa-heart heart-wishlist"></i>
                <div class="btn-buy-wrapper">
                  <button class="btn btn-light btn-border-dark btn-view">Xem ngay </button>
                  
                </div>
              </div>
              <div class="content-wrapper col-exm-12 col-sm-6 col-md-4 col-lg-3" data-gender="men" data-color="green" data-brand="adidas">
                <picture>
                  <img src="../images/adidas/Track_pants_Firebird_Primeblue_Classics_Adicolor_mau_xanh_la.jpg" alt="">
                </picture>
                <h5>QUẦN TRACK PANTS MÀU XANH CLASSIC</h5>
                <p class="price">1.800.000 VND</p>
                <i class="fal fa-heart heart-wishlist"></i>
                <div class="btn-buy-wrapper">
                  <button class="btn btn-light btn-border-dark btn-view">Xem ngay </button>
                  
                </div>
              </div>
              <div class="content-wrapper col-exm-12 col-sm-6 col-md-4 col-lg-3" data-gender="men" data-color="black" data-brand="puma">
                <picture>
                  <img src="../images/puma/Hoops-Men's-Tee.webp" alt="">
                </picture>
                <h5>HOOPS MEN'S TEE</h5>
                <p class="price">6.300.000 VND</p>
                <i class="fal fa-heart heart-wishlist"></i>
                <div class="btn-buy-wrapper">
                  <button class="btn btn-light btn-border-dark btn-view">Xem ngay </button>
                  
                </div>
              </div>
            </div>
            <div class="btn-buy-wrapper" style="justify-content: center">
              <button class="btn btn-light btn-border-dark btn-more">Xem thêm</button>
            </div>
          </div>
        </div>
    </div>
    <footer>
      <div class="wrap-footer">
        <div class="footer-header">
          <div class="footer-brand">
            DRA-SHOP
          </div>
          <div class="wrap-signUp">
            <input
            id="signUp"
            class="inp inp-text"
            type="text"
            placeholder="Đăng ký để nhận tin tức ngay"
            />
            <span class="bar-signUp"></span>
            <button class="btn btn-light btn-border-dark">Đăng ký</button>
          </div>
        </div>
        <div class="hr"></div>
        <div class="footer-bottom">
          <ul>
            <li class="footer-bottom-item flag" style="display: flex;">
              <img src="../images/flag-vn.png" alt="">
              Việt Nam
            </li>
            <li class="footer-bottom-item">Liên lạc</li>
            <li class="footer-bottom-item">Ứng dụng</li>
            <li class="footer-bottom-item">Theo dõi chúng tôi</li>
            <li class="footer-bottom-item">Địa chỉ</li>
            <li class="footer-bottom-item">Tuyển dụng</li>
            <li class="footer-bottom-item">Điều khoản</li>
          </ul>
        </div>
      </div>
    </footer>
    <!-- ------------Login---------------- -->
    <div class="mood mood-signin">
      <div class="mood-main">
        <div class="form-login">
          <picture>
            <img src="../images/avatar-login.png" alt="Avatar login">
          </picture>
          <div class="form-login-input form-login-username">
            <label for="login-username">Tài khoản hoặc email:</label>
            <input id="login-username" class="form-control" type="text" placeholder="Tài khoản...">
          </div>
          <div class="form-login-input form-login-password">
            <label for="login-password">Mật khẩu:</label>
            <input id="login-password" class="form-control" type="password" placeholder="Mật khẩu...">
          </div>
          <div class="form-login-input">
            <input type="checkbox" name="" id="remember-password">
            <label for="remember-password">Nhớ mật khẩu</label>
          </div>
          <div class="btn-login-wrapper">
            <button class="btn btn-success btn-login-confirm" style="margin-right: 1rem;">Đăng nhập</button>
            <button class="btn btn-danger btn-exit-form">Trở lại</button>
          </div>
        </div>
      </div>
    </div>
    <!-- ------------Sign Up---------------- -->
    <div class="mood mood-signUp">
      <div class="mood-main">
        <div class="form-signUp">
          <h1 style="margin-bottom: 1rem;">ĐĂNG KÝ</h1>
          <div class="form-signUp-input form-signUp-username">
            <label for="signUp-username">Tài khoản hoặc email:</label>
            <input id="signUp-username" class="form-control" type="text" placeholder="Tài khoản...">
          </div>
          <div class="form-signUp-input form-signUp-password">
            <label for="signUp-password">Mật khẩu:</label>
            <input id="signUp-password" class="form-control" type="password" placeholder="Mật khẩu...">
          </div>
          <div class="form-signUp-input form-signUp-password-confirm">
            <label for="signUp-password-confirm">Xác nhân mật khẩu:</label>
            <input id="signUp-password-confirm" class="form-control" type="password" placeholder="Xác nhận mật khẩu...">
          </div>
          <div class="btn-signUp-wrapper" style="margin-top: .5rem;">
            <button class="btn btn-success btn-signUp-confirm" style="margin-right: 1rem;">Đăng ký</button>
            <button class="btn btn-danger btn-exit-form">Trở lại</button>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/main.js"></script>
    <script src="../js/index.js"></script>
  </body>
</html>
